<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->

<th:block th:replace="~{layout/main::page(title='JiraRush: mini bugtracking system',appMain=~{::appMain})}">
    <appMain>
        <a href="?lang=en">English</a> |
        <a href="?lang=fr">French</a> |
        <a href="?lang=it">Italian</a> |
        <a href="?lang=es">Spanish</a>

        <h1 th:text="#{greeting}"></h1>
        <div th:if="${authUser} != null">
            <form action="/ui/logout" method="post">
                <button class="btn btn-primary btn-lg mt-3" type="submit" th:text="#{button}"></button>
            </form>
        </div>
    </appMain>
</th:block>
</html>




